{% extends "base.html" %}
{% block content %}
  <h1>Käyttäjien olutarvostelut</h1>

  <p>
    <a href="{{base_path}}/arvostelut/uusi" class="btn btn-success">Lisää arvostelu</a>
  </p>

  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Olut</th>
        <th>Arvostelupäivä</th>
        <th>Arvosana(0-100)</th>
        <th>Panimo</th>
        <th>Arvostelija</th>
      </tr>
    </thead>

    <tbody>
      <!-- Listataan oluet tähän -->
      {% for arvostelu in arvostelut %}
      <tr>
          <td><a href="{{base_path}}/olut/{{arvostelu.olut_id}}">{{arvostelu.nimi}}</td>
        <td>{{arvostelu.arvostelupaiva}}</td>
        <td>{{arvostelu.arvosana}}</td>
        <td>{{arvostelu.panimo}}</td>
        <td>{{arvostelu.username}}</td>
<!--        <th><a class="btn btn-default btn-sm" href="{{base_path}}/{{arvostelu.id}}/edit">Muokkaa</a></th>-->
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
