{% extends "base.html" %}
{% block content %}
  <h1>Koff III</h1>
  <!-- Painikkeet tähän -->
  <p>
    <button class="btn btn-danger">Poista</button> <a href="#" class="btn btn-default">Muokkaa</a>
  </p>
  <!-- Tiedot tulee listana tähän -->
  <ul>
    <li><strong>Arvostelupäivä:</strong> 11.11.2011</li>
    <li><strong>Panimo:</strong> Sinebrychoff</li>
    <li><strong>Tyyppi:</strong> lager</li>
    <li><strong>Arvosana:</strong> 71</li>
  </ul>
  <!-- Kuvaus tulee tähän -->
  <p>
    Keltainen, keskitäyteläinen, miedosti humaloitu, kevyen maltainen, hedelmäinen, raikas
  </p>
{% endblock %}
