{% import "macros/forms.html" as forms %}
{% extends "base.html" %}
{% block content %}
  <h1>{{olut.nimi}}</h1>
  <!-- Painikkeet tähän -->
  <p>
    {{forms.destroy_button("#{base_path}/olut/#{olut.id}/destroy")}}
    <a href="{{base_path}}/olut/{{olut.id}}/edit" class="btn btn-default">Muokkaa</a>
  </p>
  <!-- Tiedot tulee listana tähän -->
  <ul>
    <li><strong>Panimo:</strong> {{olut.panimo}}</li>
    <li><strong>Tyyppi:</strong> lager</li>
    <li><strong>Arvosana:</strong> 71</li>
  </ul>
  <!-- Kuvaus tulee tähän -->
  <p>
    Keltainen, keskitäyteläinen, miedosti humaloitu, kevyen maltainen, hedelmäinen, raikas
  </p>
{% endblock %}
