{% extends "base.html" %}
{% block content %}
  <h1>Tälle sivulle on listattu kaikki tietokannassa olevat oluet.</h1>
  
  
  <!-- Kuvaus tulee tähän -->
  <p>
    Voit lisätä tai muokata oluita tällä sivulla
  </p>
  <p>
    <a href="{{base_path}}/olut/new" class="btn btn-success">Lisää olut</a>
  </p>

  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Olut</th>
        <th>Panimo</th>
        <th>Tyyppi</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <!-- Listataan oluet tähän -->
      {% for olut in oluet %}
      <tr>
          <td><a href="{{base_path}}/olut/{{olut.id}}">{{olut.nimi}}</td>
        <td>{{olut.panimo}}</td>
        <td>{{olut.tyyppi_id}}</td>
        <th><a class="btn btn-default btn-sm" href="{{base_path}}/olut/{{olut.id}}/edit">Muokkaa</a></th>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
  
  

