
{% extends "base.html" %}
{% block content %}
  <h1>Lisää olut kirjastoon</h1>

  <form method="post" action="{{base_path}}/olut">
    <div class="form-group">
      <label>Nimi</label>
      <input type="text" name="nimi" class="form-control">
    </div>

    <div class="form-group">
      <label>Panimo</label>
      <input type="text" name="panimo" class="form-control">
    </div>

    <div class="form-group">
      <label>Tyyppi</label>
      <input type="text" name="tyyppi_id" class="form-control">
    </div>


    <div class="form-group">
      <button type="submit" class="btn btn-primary">Lisää</button>
    </div>
  </form>
{% endblock %}
